#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.header {
    text-align: center;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

.controls, select, option {
    font-size: 25px;;
}

@media screen and (max-width: 500px) {
    #canvas1 {
        top: 50%;
        width: 300px;
        height: 300px;
    }  

    .controls {
        top: 15%;
    }

    .controls, select, option {
        font-size: 22px;
    }

    }
